title {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border-bottom: seashell;
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
}

a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

nav span {
  padding: 0 8px
}

nav {
  display: block;
  color: seashell;
  align-items: right;
  text-align: right;
}

#header {
  display: flex;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  position: fixed;
  flex-grow: 1;
  z-index: 1;
}

#mission {
  background-image: url("../img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

#totm {
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1000px;
  margin: auto;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

#locations {
    background-image: url("../img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 1200px;
    margin: auto;
}

#footer {
  display: inline-block;
  height: 200px;
  margin: 20px;
}

.text {
  background-color: black;
  width: 1200px;
  color: seashell;
  opacity: 0.9;
}

.logo {
  display: flex;
  justify-content: center;
  height: 50px;
}

.images {
 display: block;
 padding: 5px 5px;
 font-weight: bold;
 text-align: center;
}

.images img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

.images span {
  align-items: center;
  text-align: center;
  display:block;
  padding: 10px 10px 10px 10px;
}

.location {
  display: inline-block;
  background-color: black;
  width: 300px;
  opacity: 1;
  align-items: center;
  padding: 15px;
}

.mail h5 {
  text-align: left;
  margin-left: 20px;
}
