title {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border-bottom: seashell;
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

#header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  background-color: black;
}

nav {
  display: inline-block;
  text-decoration: underline;
  color: seashell;
  align-items: right;
  text-align: center;
  border: 1px solid white;
}

#mission {
  background-image: url("./resources/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
}
