title {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border-bottom: seashell;
}

body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

#header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  height: 50px;
}

nav {
  display: inline-block;
  text-decoration: underline;
  color: seashell;
  align-items: right;
  text-align: center;
  border: 1px solid white;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.text {
  background-color: black;
  width: 1200px;
  color: seashell;
  opacity: 0.9;
}
